<div id="main_content" class="container_12 clearfix">
  
   <div class="grid_4 box">
<h1>Editing user</h1>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>

 <hr class="grid_12"></hr>

</div>
