
  
    <!-- Start Teaser -->
    <div class="container_12 teaser static">
      
      <div class="grid_12 ">
      <% @users.each do |user| %>
            <tr>
              <td><%= #user.username 
                %></td>
             
            
            </tr>
      <% end %>
        <h1>Lorem ipsum dolor sit amet, sed diam nonumy.</h1>
        
        <img src="/images/static_image.png" title="" alt='' />
      
      </div>  
  
    </div><!-- Teaser END -->
  
  <div class="clear"></div>
    
  <!-- Start Container 12 -->
  <div id="main_content" class="container_12">
  
  <hr class="grid_12"></hr>
  
    
    
    <!-- Start Box 3 -->
    <div class="grid_12 ">

      <img class='alignleft' src='/images/mail.png' alt=''/>
      
      <h2>Newest Listings</h2>
      
<table>
 <% @users.each do |user| %>
  <tr>
      <td><%= link_to user.username, user %></td>
  </tr>
<% end %>
</table>      
    </div><!-- Box 3 END -->
    
    <div class="grid_12 middle">
    
    <span class="testimonial">We create beautiful websites and do awesome print stuff. Read more about <a href="#" title="" >our services</a> here.</span>
    
    </div>
    
    <!-- Start Service 1 -->
    <div class="grid_3 service_item">
    
      <h3>About Cocomonio</h3>
      <p><img src='stylesheets/style_blue/images/icon_home.png' class='alignleft' alt='' />Lorem ipsum dolor sit eres amet, consectetur adipisicing elit, sed do eiusmod as tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Sed do eiusmod tempor de incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
    
    </div><!-- Service 1 END -->
    
    <!-- Start Service 2 -->
    <div class="grid_3 service_item">
    
      <h3>View Our Portfolio</h3>
      <p><img src='stylesheets/style_blue/images/icon_portfolio.png' class='alignleft' alt='' />Lorem ipsum dolor sit eres amet, consectetur adipisicing elit, sed do eiusmod as tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Sed do eiusmod tempor de incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
    
    </div><!-- Service 2 END -->
    
    <!-- Start Service 3 -->
    <div class="grid_3 service_item">
    
      <h3>Buy on Themeforest</h3>
      <p><img src='stylesheets/style_blue/images/icon_buy.png' class='alignleft' alt='' />Lorem ipsum dolor sit eres amet, consectetur adipisicing elit, sed do eiusmod as tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Sed do eiusmod tempor de incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
    
    </div><!-- Service 3 END -->
    
    <!-- Start Service 4 -->
    <div class="grid_3 service_item">
    
      <h3>Documentation</h3>
      <p><img src='stylesheets/style_blue/images/icon_edit.png' class='alignleft' alt='' />Lorem ipsum dolor sit eres amet, consectetur adipisicing elit, sed do eiusmod as tempor incididunt ut labolore magna aliqua. Ut enim ad minim veniam. Sed do eiusmod tempor de incididunt ut labolore magna aliqua. Ut enim ad minim veniam.</p>
    
    </div><!-- Service 4 END -->
    
    <hr class="grid_12"></hr>
  
  </div>
  
  <div class="clear"></div>
  
  